*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';

    background-color: rgba(229, 229, 229, .4);
}
.telaLoading{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.telaLogin{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.telaLogin img{
    width: 130px;
    height: auto;
}
.telaLogin input{
    width: 260px;
    height: 60px;

    text-align: center;
    font-size: 18px;

    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, .1);
}
.telaLogin button{
    width: 109px;
    height: 45px;

    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, .1);
}

/*Menu lateral*/
.overlay{
    width: 31%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.6);;
}
.menuSidebar{
    width: 69%;
    height: 100%;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: auto;
    word-break: break-word; 

    background-color: #FFFFFF;
    padding: 10px;
}
.menuSidebar .topo{
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuSidebar h1{
    text-align: center;
    line-height: 19px;
    size: 16px;
    font-weight: 700;

    width: 80%;
}

.menuSidebar .opcoes{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}
.menuSidebar h2{
    width: 85%;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
.menuSidebar .opcoes ion-icon{
    font-size: 24px;
}
.menuSidebar .meio{
    height: 66px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.escondido{
    display: none;
}
.escolhida{
    background-color: green;
}

/*<HEADER>*/
header{
    width: 100%;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .1);
}
header img{
    width: 75px;
    height: auto;
}
header ion-icon{
    font-size: 40px;
}
/*</HEADER>*/
/*<MAIN>*/
main{
    overflow: auto;
    padding: 106px 0;

}
main div{
    word-break: break-word;
    padding: 10px;
}
main .mensagensStatus{
    background-color: #DCDCDC;
}
main .mensagensNaoPrivadas{
    background-color: #FFFFFF;
}
main .mensagensPrivadas{
    background-color: #FFDEDE;

}
main span{
    line-height: 20px;
}
main .tempo{
    font-size: 14px;
    font-style: normal;
    color: gray;

}
main .nomeUsuario{
    font-size: 14px;
    color: #000000;
    font-weight: 700;
}

/*</MAIN>*/

/*<FOOTER>*/
footer{
    width: 100%;
    height: 80px;

    position: fixed;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;

    background-color: #FFFFFF;
    box-shadow: 2px 0px 0px 2px rgba(0, 0, 0, .1);

}

footer div:first-child{
    width: 80%;
}

footer input, footer input::-webkit-input-placeholder, footer input:hover{
    width: 100%;

    border: none;
    font-size: 18px;
    font-style: italic;

    color: #000000;

    box-shadow: 0 0 0 0;
    outline: 0;
    cursor: pointer;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}
footer .inputAlerta{
    animation: treme 0.2s;
    animation-iteration-count: 3;
}
@keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
  }
footer ion-icon{
    font-size: 26px;
}
/*</FOOTER>*/


/*@media (max-width: 375px) {
    main div {
        width: 375px;
        flex-shrink: 0;
        overflow: hidden;
    }
   
}*/
